.wrapper {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper-top {
    width: 100vw;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensures the container is on top of other elements */
}

.wrapper h2 {
  color: black;
  font-size: 36px;
  text-emphasis: center;
  text-align: center;
}

.wrapper .nselect {
    width: 100%;
    height: 50px;
    margin: 30px;
}

.wrapper-top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: transparent;
    font-size: large;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2px 30px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

.uploadf {
  margin-left: 3px;
  margin-top: 10px;
}

.upload {
  margin-top: 15px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
  

